.header_logo {
    text-align: center;
    img {
        padding: 50px 0;
        width: 280px;
        height: auto;
    }
}

.navi {
    &__ul {
        display: flex;
        justify-content: center;
    }
    li {
        padding: 30px 50px;
    }
}